.form-comment {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-comment label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.form-comment textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.button-comment {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button-comment:hover {
    background-color: #0056b3;
}
.trashcan{
    margin-top: 35px;
    color: red;
}
.trashcan:hover{
    color: #a92222;
}
