.address-title-div {
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
    height: 80px;
    padding: 0 10px;
}

.address-title {
    color: #333;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.button-solid--primary {
    background: rgb(238, 77, 45);
    outline: 0px;
    overflow: visible;
    position: relative;
    height: 40px;
    padding: 0 20px
}

.button-solid {
    align-items: center;
    border: 0px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 1px 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    font-size: 0.875rem;
    font-weight: 300;
    justify-content: center;
    letter-spacing: 0px;
    line-height: 1;
    outline: none;
    position: relative;
    transition: opacity 0.2s ease 0s;
    user-select: none;
}

.list-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 8px;
}

.address-item-container {
    display: flex;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    padding: 18px 0 20px;
}

.address-item-container:last-child {
    border-bottom: 0;
}

.address-item {
    min-width: 0;
    width: 100%;
}

.address-card_header {
    margin-right: 8px;
    flex-grow: 1;
    overflow-x: hidden;
    display: flex;
}

.name-span {
    color: rgba(0, 0, 0, .87);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    min-width: 0;
    display: inline-flex;
    align-items: center;
}

.user-name {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.separate {
    border-left: 0.5px solid rgba(0, 0, 0, .26);
    margin: 0 8px;
}

.phone-number {
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, .54);
    white-space: nowrap;
}

.function-button {
    background: none;
    border: 0;
    color: #08f;
    outline: none;
    padding: 4px;
    white-space: nowrap;
    font-size: 15px;
}

.address-content {
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, .54);
}

.set-default-button {
    border: 1px solid rgba(0, 0, 0, .26);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .03);
    color: rgba(0, 0, 0, .87);
    font-size: .875rem;
    height: 28px;
    line-height: 1.25rem;
    min-width: 0;
    padding: 4px 12px;
    white-space: nowrap;
    background-color: #fff;
    border-radius: 2px;
}

.set-default-button:disabled {
    cursor: not-allowed;
    opacity: .7;
}

#address-card_badge {
    margin-top: 4px;
    flex-wrap: wrap;
}

.span-default {
    border-color: #ee4d2d;
    color: #ee4d2d;
    margin: 0 4px 4px 0;
    border: 0.5px solid;
    border-radius: 1px;
    padding: 2px 4px;
    font-size: 14px;
}

.span-default:last-child {
    margin-right: 0;
}
